python-dotenv
chromadb>=0.4.24,<0.5.0
#sentence-transformers인지 확인**하기 위한 것입니다. 만약 이 상태로 Vercel 빌드가 **성공한다면**, 이제 ">=2.2.0
Flask>=2.0 # 웹 프레임워크
flask-cors>=3.0 # CORSdata is too long" 오류의 원인이 `requirements.txt`의 라이브러리가 아니라, Git에 포함된 `chroma_db 처리
#requests
#numpy
#boto3>=1.28.0,<1.29.0